USE [master]
GO
/****** Object:  Database [Lab_UserManagement]    Script Date: 5/9/2020 9:09:43 ******/
CREATE DATABASE [Lab_UserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab_UserManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Lab_UserManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lab_UserManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Lab_UserManagement_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab_UserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab_UserManagement]
GO
/****** Object:  Table [dbo].[tbl_PromotionList]    Script Date: 5/9/2020 9:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PromotionList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Rank] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Action] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 5/9/2020 9:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Photo] [nvarchar](200) NULL,
	[Status] [varchar](20) NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK__tbl_User__536C85E5D57CD72F] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_UserGroup]    Script Date: 5/9/2020 9:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_PromotionList]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Promo__Usern__3C69FB99] FOREIGN KEY([Username])
REFERENCES [dbo].[tbl_User] ([Username])
GO
ALTER TABLE [dbo].[tbl_PromotionList] CHECK CONSTRAINT [FK__tbl_Promo__Usern__3C69FB99]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK__tbl_User__GroupI__398D8EEE] FOREIGN KEY([GroupId])
REFERENCES [dbo].[tbl_UserGroup] ([Id])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK__tbl_User__GroupI__398D8EEE]
GO
USE [master]
GO
